name: Release to Nuget

on:
  release:
  types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Create Nuget Package
      # github.event.release.tag_name - linked to release variable in github Action
      # PackageReleaseNotes - link to the github release notes
      run: dotnet pack -c Release /p:Version=${{ github.event.release.tag_name }} /p:PackageReleaseNotes="See https://github.com/kamisaur/GummyWorms/releases/tag/${{ github.event.release.tag_name }}"
      working-directory: ./GummyWorms
    - name: Archive NuGet Package
      uses: actions/upload-artifact@v1
      with:
        name: GummyWorms
        path: ./GummyWorms/bin/Release/GummyWorms.${{ github.event.release.tag_name }}.nupkg

#     - name: Install dependencies
#       run: dotnet restore
#     - name: Build
#       run: dotnet build --configuration Release --no-restore
#     - name: Test
#       run: dotnet test --no-restore --verbosity normal
